@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}
.cabecalho{
    padding: 2% 0% 0% 6%;
}
.cabecalhoMenu{
    display: flex;
    gap: 80px;
}
.cabecalhoMenuLink{
    font-family: 'Montserrat', sans-serif;
    font-weight: 60;
    font-size: 20px;
    color: #6369D1;
}
.apresentacao {
    padding: 5% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacaoConteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacaoConteudoTitulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.tituloDestaque {
    color: #6369D1;
}
.apresentacaoConteudoTexto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.apresentacaoLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacaoLinksSubtitulo{
    font-family: 'krona one', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacaoLinksLink{
    border: 2px solid #6369D1;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}
.apresentacaoLinksLink:hover{
    background-color: #272727;
    color: #6369D1;
}
.rodape{
    padding: 24px;
    background-color: #6369D1;
    color: #000000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}