@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

:root{
    --primary-color: #000000;
    --secondary-color: #f6f6f6;
    --tertiary-color: #6369D1;
    --hover-color: #272727;

    --primary-font: 'Krona One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.cabecalho{
    padding: 2% 0% 0% 6%;
}
.cabecalhoMenu{
    display: flex;
    gap: 80px;
}
.cabecalhoMenuLink{
    font-family: var(--secondary-font);
    font-weight: 60;
    font-size: 1.25rem;
    color: var(--tertiary-color);
    text-decoration: none;
}
.apresentacao {
    padding: 5% 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacaoConteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacaoConteudoTitulo {
    font-size: 2.25rem;
    font-family: var(--primary-font);
}
.tituloDestaque {
    color: var(--tertiary-color);
}
.apresentacaoConteudoTexto {
    font-size: 1.4rem;
    font-family: var(--secondary-font);
}
.apresentacaoLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacaoLinksSubtitulo{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacaoLinksLink{
    border: 2px solid var(--tertiary-color);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}
.apresentacaoLinksLink:hover{
    background-color: var(--hover-color);
    color: var(--tertiary-color);
}
.image{
    width: 50%;
}
.rodape{
    width: 100%;
    padding: 24px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 0.8rem;
}

@media (max-width: 1200px){
    .cabecalho{

        padding: 10%;
    }

    .cabecalhoMenu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacaoConteudo{
        width: auto;
    }
}